<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1>O firmie</h1>
    </div>
  </div>
  <div class="row">
    <!--<div class="col d-flex justify-content-center">-->
      <!--<div class="row">-->
        <!--<div class="col">-->
      <p>Aghmazon to dynamicznie rozwijająca się sieć elektromarketów, obecna na polskim rynku od ponad 15 lat.</p>
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
      <p>Nasza oferta jest zawsze uaktualniana o najświeższe trendy. Sprzedajemy między innymi telewizory smart, laptopy,</p>
      <p>tablety, smartfony, sprzęt fotograficzny, RTV i AGD, a w wybranych sklepach również rowery, skutery, quady,</p>
      <p>elektronarzędzia, sprzęt relaksacyjny oraz sprzęt do pielęgnacji ogrodów.</p>
      <!--</div>-->
      <!--<div class="row">-->
      <p>Jesteśmy liderem na rynkach lokalnych, oferując klientom największy wybór elektroniki użytkowej w najniższych
          cenach.</p>
      <!--</div>-->
      <!--<div class="row">-->
      <p>Aghmazon jest jedną z największych marek branży RTV, AGD, Multimedia w Polsce, powszechnie cenioną przez</p>
      <p>klientów, czego potwierdzeniem jest między innymi Grand Prix - Laur Konsumenta 2019 w kategorii Sklepy RTV/AGD.</p>
      <!--</div>-->
      <!--<div class="row">-->
      <p>Prestiżowa nagroda została przyznana za wdrażanie najwyższych standardów w zakresie obsługi i indywidualnego
      podejścia do każdego klienta oraz atrakcyjności oferty i promocji.</p>
      <p>Aghmazon zostało również nagrodzone Gwiazdą Jakości Obsługi 2019. Dla wygody Klientów zapewniamy transport i serwis, utylizację starego sprzętu, liczne
        promocje oraz realizację indywidualnych zamówień.</p>
      <!--</div>-->
      <!--<div class="row">-->
      <p>Podobne nagrody i wyróżnienia otrzymaliśmy również w latach ubiegłych.</p>
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
