<div>
  <app-user-profile></app-user-profile>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="onClick()">
        <mat-icon>person</mat-icon>
      </button>

      <a mat-button class="companyName" routerLink="/">
        <span><h1>Aghmazon</h1></span>
      </a>

      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/contact">Kontakt</a>
        <a mat-button routerLink="/about">O nas</a>
        <a mat-button routerLink="/products">Produkty</a>
        <a mat-button routerLink="/cart">Koszyk</a>
        <a mat-button routerLink="/orders">Zamowienia</a>
        <a mat-button routerLink="/admin-products" [hidden]="authService.role != 'Admin'">Zarzadzanie Produktami</a>
        <a mat-button routerLink="/admin-orders" [hidden]="authService.role != 'Admin'">Zarzadzanie Zamowieniami</a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="mat-toolbar-row-small" [hidden]="!openAuthBar" >
      <div [hidden]="authService.authenticated">
        Uzytkownik niezalogowany
      </div>
      <div [hidden]="!authService.authenticated">
        <button type="button" class="btn btn-outline-dark btn-sm py-0" (click)="logout()">X</button>  LOGIN: {{authService.login}}  |  ROLA: {{authService.role}}
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
