<div class="container border rounded">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1>Kontakt</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Zarzad:</h2>
    </div>
  </div>
  <div class="row ml-3">
    <div class="col-2">
      <b> Kamil Glinski </b>
    </div>
    <div class="col">
      <p>Adres Email: kamil.glinski1995@gmail.com</p>
    </div>
  </div>
  <div class="row ml-3">
    <div class="col-2">
      <b> Michal Flak </b>
    </div>
    <div class="col">
      <p>Adres Email: mflak@gmail.com</p>
    </div>
  </div>
  <div class="row ml-3">
    <div class="col-2">
      <b> Mateusz Popielarz </b>
    </div>
    <div class="col">
      <p>Adres Email: popielmat@gmail.com</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Lokalizacja:</h2>
    </div>
  </div>
  <div class="row ml-3">
    <div class="col-3">
      <b>Polska, Krakow ul.Wisniowa 7</b>
    </div>
    <div class="col">
      <p>Kod pocztowy: 32-000</p>
    </div>
  </div>

<!--  -->
<!--  <b> Kamil Glinski </b>-->
<!--  <p>Adres Email: kamil.glinski1995@gmail.com</p>-->
<!--  <b> Michal Flak </b>-->
<!--  <p>Adres Email: mflak@gmail.com</p>-->
<!--  <b> Mateusz Popielarz </b>-->
<!--  <p>popielmat@gmail.com</p>-->

</div>
