<!--<div class="row">-->
  <!--<div class="col-4">-->
    <!--"Shop"-->
  <!--</div>-->
  <!--<div class="col-1">-->
    <!--"Shoping"-->
  <!--</div>-->

<!--</div>-->

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Witaj w sklepie Aghmazon</h2>
    </div>
  </div>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</div>