<div class="container">
  <div class="row">
    <h2>{{data.product.shortDescription}}</h2>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="col-4">
        <img src="{{data.product.image}}"
             class="img-fluid border border-secondary" alt="Responsive image">
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Opis:</h2>
  </div>
  <div class="row">
    {{data.product.description}}
  </div>
  <div class="row">
    <h2>Cena: {{data.product.price}} PLN</h2>
  </div>
    <div class="row">
      <div class="d-flex justify-content-center">
        <button (click)="close()" type="button" class="btn btn-info">Powrot</button>
      </div>
    </div>
</div>
