<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1>Zamowienia</h1>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <ag-grid-angular
        style="width: 100%; height: 60vh;"
        class="ag-theme-alpine"
        [rowData]="OrderRowData"
        [columnDefs]="OrderColumnDefs"
        [gridOptions]="orderOptions"
        [enableRangeSelection]="true"
        [pagination]="true"
        [paginationAutoPageSize]="true"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>


